<?php
			$numberOfItems = 1;
			 
			$productCollection = Mage::getModel('catalog/product')->getCollection();
			$productCollection
				->addStoreFilter()
				->setVisibility(Mage::getSingleton('catalog/product_visibility')->getVisibleInCatalogIds());
			$candidateIds = $productCollection->getAllIds();
			$numberOfProducts = count($candidateIds);
			$chosenIds = [];
			while ($numberOfItems) {
				$randomKey = mt_rand(0, $numberOfProducts - 1);
				if (!isset($chosenIds[$randomKey])) {
					$chosenIds[$randomKey] = $candidateIds[$randomKey];
					--$numberOfItems;
				}
			}
			$productCollection->addIdFilter($chosenIds);
			$productCollection
				->addMinimalPrice()
				->addFinalPrice()
				->addTaxPercents()
				->addAttributeToSelect(Mage::getSingleton('catalog/config')->getProductAttributes())
				->addUrlRewrite();
				
			$productCollection->load();
		?>
		<h3>Product of the NOW!</h3>
		<ol>
		<?php $_iterator = 0; ?>
		<?php foreach ($productCollection as $_product): ?>
        <li class="item rando-item<?php if( ++$_iterator == sizeof($productCollection) ): ?> last<?php endif; ?>">
            <?php // Product Image ?>
			<div class="product-image">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                <?php $_imgSize = 300; ?>
                <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                     src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"
                     alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
					 
            </a>
			</div>
			<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
			<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_product->getName() ?></a></h2>
			<h3><?php echo Mage::helper('core')->formatPrice($_product->getPrice());?></h3>
			</li>
		<?php endforeach;?>
		</ol>